[Unit]
Description=Display chrony statistics on 4x20 LCD
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/chronotron
ExecStart=/opt/chronotron/bin/python /opt/chronotron/chronotron.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
